.app_wrapper{
    font-size: 2em;
    font-weight: bold;
    color: white;
    padding: 1.5em 1.5em 0 1em;
}

.header_menu_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}