.text_content{
    font-weight: 500;
    list-style: katakana-iroha;
    font-size: 20px;
    letter-spacing: 2px;
}

.content_hero{
    width: 100%;
    height: 525px;
    border-radius: 15px;
    background-image: url('../../assets/pawel-czerwinski-8uZPynIu-rQ-unsplash.jpg');
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: 1px 0px;
    animation-name: mov;
    animation-duration: 420s;
}


@keyframes mov {
    from {background-position: 1px 0px;}
    to {background-position: 1px -2000px;}
}