.text_content{
    font-weight: 500;
    list-style: katakana-iroha;
    font-size: 20px;
    letter-spacing: 2px;
}

.content_hero{
    width: 100%;
    min-height: 80vh;
    border-radius: 15px;
    background-image: url('../../assets/pawel-czerwinski-8uZPynIu-rQ-unsplash.jpg');
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: 1px 0px;
    animation-name: mov;
    animation-duration: 42s;
    animation-iteration-count: infinite;
    display: flex;
    flex-direction: column;
}

.content_hero p{
    margin-top: auto;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
}

.features{
    margin: 2em 0;
}

@keyframes mov {
    from {background-position: 1px 0px;}
    to {background-position: 1px -2000px;}
}