.content_features{
    display: grid;
    grid-column-gap: .5em;
    margin-top: 1em;
}

.items-3{
    grid-template-columns: repeat(3, 1fr);
    height: 25vh;
}

.items-2{
    grid-template-columns: repeat(2, 1fr);
    height: 40vh;
}

.content_features div{
    border: 3px dashed transparent;
    background-color: #89b5dc30;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.content_features div:hover{
    border: 4px dashed white;
    border-radius: 5.5px;
    
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    cursor: pointer;
}

.content_features div p{
    font-size: 2em;
}


.features_h2{
    margin-top: 1em;
}