.more{
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 3rem;
    margin: 1em 4em 1em;
    text-align: center;
}

.footer{
    margin-top: 2em;
    position: relative;
}

h5{
    font-weight: bolder;
}

.more p{
    font-weight: lighter;
    font-size: 25px;
}

img{
    display: flex;
    margin: 0 auto;
    filter: invert(1) hue-rotate(416deg);
}

.img_reachOut{
    width: 20%;
}

.img_dancing{
    width: 50%;
}


.text_footer{
    font-size: 10px;
    padding: 1em;
    color: grey;
    text-align: end;
}